$TTL 86400
@   IN     SOA      serverdns.ctfprolab.es. root.ctfprolab.es. (
             2      ; Serial
        604800      ; Refresh
         86400      ; Retry
        604800      ; Expire
         86400 )    ; Minimum TTL

                IN  NS            serverdns.ctfprolab.es.
201             IN  PTR           serverdns.ctfprolab.es.
51              IN  PTR           dvwaserver.ctfprolab.es.
52              IN  PTR           juiceserver.ctfprolab.es.
53              IN  PTR           client1.ctfprolab.es.
54              IN  PTR           client2.ctfprolab.es.
97              IN  PTR           client2.ctfprolab.es.
98              IN  PTR           ftpserver.ctfprolab.es.
99              IN  PTR           windows2008server.ctfprolab.es.
100             IN  PTR           client3.ctfprolab.es.
101             IN  PTR           client4.ctfprolab.es.
200             IN  PTR           client4.ctfprolab.es.
201             IN  PTR           dns.ctfprolab.es.
